/*
 * Add @import "full_width_regions"; to style.scss to activate this feature.
 */

#page{

  margin-left: 0;
  margin-right: 0;
  max-width: inherit;

}//#page

#header, #main, #navigation, #footer{
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}
