.node-page {

/*******************************************************************************
 * Layout - Full content
 ******************************************************************************/
&.view-mode-full{
    //$zen-column-count: 12;
    //$zen-gutter-width: 10px;
    @include zen-grid-container;

    .group-left{
      @include zen-grid-item-base;
      //@include zen-grid-item(3, 1);

    }//.group-left

    .group-right{
      @include zen-grid-item-base;
      //@include zen-grid-item(9, 4);

    }//.group-right

}//&.view-mode-full{

/*******************************************************************************
 * Layout - Teaser
 ******************************************************************************/
&.view-mode-teaser{
  @include zen-grid-container;

  .group-left{
    @include zen-grid-item-base;
    //@include zen-grid-item(3, 1);
  }//.group-left

  .group-right{
    @include zen-grid-item-base;
    //@include zen-grid-item(9, 4);

  }//.group-right
}//&.view-mode-teaser

/*******************************************************************************
 * Elements - Global
 ******************************************************************************/
color: $text-color;

a{
  color: $link-color;
  &:hover{
    color: $link-active-color;
  }
}


/*******************************************************************************
 * Elements - Full Content
 ******************************************************************************/
&.view-mode-full{
  //Title
  h1.node-title{
    color: $header-color;
  }

}//&.view-mode-full{

/*******************************************************************************
 * Elements - Teaser
 ******************************************************************************/
&.view-mode-teaser{
  //Title
  h2.node-title{
    color: $header-color;
  }
}//&.view-mode-teaser

}//.node-page
