/* This file will hold styles for all responsive layouts. */

@import "variables";

@media all and (min-width: 480px) {
	body{ }
}


/**
 * 3 grid columns for smaller screens.
 */
@media all and (min-width: 480px) and (max-width: 959px) {
  body{ }
}

/**
 * 5 grid columns for larger screens.
 */
@media all and (min-width: 960px) {
    body{ }
}
