
/*
 * Zen grid
 */
@import "zen";

$zen-column-count: 12; // Set the total number of columns in the grid.

/*
 * Compass
 */
@import "compass";

/*
 * Spacing
 */
$spacing: $zen-gutter-width/2;
$nav-height: 3em;

/*
 * Sassy buttons
 */
@import "sassy-buttons";

/*
 * Font size
 */
$base-font-size:   16px; // The font size set on the root html element.
$base-line-height: 24px; // This line-height determines the basic unit of vertical rhythm.

$h1-font-size: 2    * $base-font-size;
$h2-font-size: 1.5  * $base-font-size;
$h3-font-size: 1.17 * $base-font-size;
$h4-font-size: 1    * $base-font-size;
$h5-font-size: 0.83 * $base-font-size;
$h6-font-size: 0.67 * $base-font-size;


/*
 * Font face
 */
$times-new-roman: "Times New Roman", Times, Georgia, "DejaVu Serif", serif;
$times:           Times, "Times New Roman", Georgia, "DejaVu Serif", serif;
$georgia:         Georgia, "Times New Roman", "DejaVu Serif", serif;

$verdana:         Verdana, Tahoma, "DejaVu Sans", sans-serif;
$tahoma:          Tahoma, Verdana, "DejaVu Sans", sans-serif;
$helvetica:       Helvetica, Arial, "Nimbus Sans L", sans-serif;
$arial:           Arial, Helvetica, "Nimbus Sans L", sans-serif;

$courier:         "Courier New", "DejaVu Sans Mono", monospace, sans-serif;

$font-body:        $verdana;

// Instead of relying on the fonts that are available on a user's computer, you
// can use web fonts which, like images, are resources downloaded to the user's
// browser. Because of the bandwidth and rendering resources required, web fonts
// should be used with care.
//
// Numerous resources for web fonts can be found on Google. Here are a few
// websites where you can find Open Source fonts to download:
// - http://www.fontsquirrel.com/fontface
// - http://www.theleagueofmoveabletype.com
//
// In order to use these fonts, you will need to convert them into formats
// suitable for web fonts. We recommend the free-to-use Font Squirrel's
// Font-Face Generator:
//   http://www.fontsquirrel.com/fontface/generator
//
// The following is an example @font-face declaration. This font can then be
// used in any ruleset using a property like this:  font-family: Example, serif;
/*
@font-face {
  font-family: 'Example';
  src: url('../fonts/example.eot');
  src: url('../fonts/example.eot?iefix') format('eot'),
    url('../fonts/example.woff') format('woff'),
    url('../fonts/example.ttf') format('truetype'),
    url('../fonts/example.svg#webfontOkOndcij') format('svg');
  font-weight: normal;
  font-style: normal;
}
*/

/*
 * Search box
 */
@mixin search-box{
  padding: 4px 14px;

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 1;
  border: 1px solid #cccccc;
  @include border-radius(15px);

  height: 30px;
}

/*
 * Inline menu
 */
@mixin inline-menu{
  margin: 0;
  padding: 0;

  li{
    list-style: none;
    display: inline;
    margin: 0;

    a {
      padding-right: $spacing;
    }
  }

}

/*
 * Form style
 */
@mixin form-style{
  input{
    border: 1px solid #cccccc;
    @include border-radius(5px);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em;
    font-weight: normal;
    line-height: 1em;
    padding: $spacing;

    &.form-submit{
      $sb-base-color: #e9e9e9;
      $sb-gradient-style: "flat";
      $sb-text-color: #000;
      @include sassy-button;
    }
  }
}
