
/**************************************************
* --
* Body
* --
**************************************************/

body {
  color: $text-color;
  font-family: $font-body;

  a {
    color: $link-color;

    &.active, &:hover{
      color: $link-active-color;
    }
  }

  h1, h2, h3, h4, h5, h6{
    color: $header-color;
  }

  h1{ font-size: $h1-font-size; }
  h2{ font-size: $h2-font-size; }
  h3{ font-size: $h3-font-size; }
  h4{ font-size: $h4-font-size; }
  h5{ font-size: $h5-font-size; }
  h6{ font-size: $h6-font-size; }

  p{
    margin-top: 0;
    margin-bottom: .5em;
  }

} //body

