/*
 * Form
 */
form{
  @include form-style;
}

/*
 * Search Box
 */
.form-item-search-block-form input{
  @include search-box;
}


table td img{
  max-width: inherit;
}

#admin-menu{
  img.admin-menu-icon{
    width: 16px;
  }
}//#admin-menu

/**************************************************
* --
* Page
* --
**************************************************/
#page{

}//#page


/**************************************************
* --
* Header
* --
**************************************************/
#header{
  h1.site-name, h2.site-name{
    padding: 0;
    margin: $spacing*2 0;
    font-size: $h1-font-size;
    line-height: normal;
  }

  #logo{

  }
}//header

/**************************************************
* --
* Main
* --
**************************************************/
#main{
  padding-top: $nav-height;
}

/**************************************************
* --
* Navigation
* --
**************************************************/
#navigation{

  /* Static menu
  position: relative;
  height: auto;
  margin-bottom: $spacing;
  // */
  ul.menu{
    @include clearfix;
  }

}//#navigation

/**************************************************
* --
* Content
* --
**************************************************/
#content{

}//#content


/*
 * All content types
 */
@import "node_all.scss";

/*
 * Page content type
 */
@import "node_page.scss";


/**************************************************
* --
* Views
* --
**************************************************/

/**************************************************
* --
* Taxonomy term page
* --
**************************************************/

/**************************************************
* --
* Sidebar first
* --
**************************************************/
.region-sidebar-first{

}//region-sidebar-first

/**************************************************
* --
* Sidebar second
* --
**************************************************/
.region-sidebar-second{

}//.region-sidebar-second

/**************************************************
* --
* Footer
* --
**************************************************/
#footer{

}//#footer

/**************************************************
* --
* Region bottom
* --
**************************************************/
.region-bottom{

}//..region-bottom

/**************************************************
* --
* CK editor
* --
**************************************************/
.img-left{
  margin-right: $spacing;
}

.img-right{
  margin-left: $spacing;
}
